### 1. Configuração do Ambiente e Conexão com Banco de Dados
Importação das bibliotecas necessárias e definição da string de conexão com o PostgreSQL. Também são criadas funções auxiliares (`exec_sql` e `run_query`) para facilitar a execução de comandos SQL e consultas durante o processo.

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

# --- CONFIGURE SUAS CREDENCIAIS AQUI ---
# Exemplo de string: postgresql://usuario:senha@host:porta/nome_banco
DB_CONNECTION_STRING = "postgresql://postgres:admin123@localhost:5432/postgres"

# Cria a engine de conexão
engine = create_engine(DB_CONNECTION_STRING)

# Função auxiliar para rodar comandos SQL sem retorno (CREATE, UPDATE, DROP)
def exec_sql(query):
    with engine.connect() as conn:
        conn.execute(text(query))
        conn.commit()

# Função para consultas (SELECT)
def run_query(query):
    with engine.connect() as conn:
        return pd.read_sql_query(text(query), conn)

print("Conexão com PostgreSQL configurada!")

Conexão com PostgreSQL configurada!

### 2. Extração de Dados e Carga na Staging Area
Leitura dos arquivos CSV anuais (2023, 2024, 2025), unificação em um único DataFrame e padronização inicial dos nomes das colunas. Em seguida, os dados brutos são carregados para a tabela `stage.tb_staging_samu` no banco de dados, preparando o terreno para as transformações via SQL.

In [2]:
# --- CÉLULA 2 (CORRIGIDA E BLINDADA) ---
colunas_nomes = [
    'ID', 'DATA', 'HORA_MINUTO', 'MUNICIPIO', 'BAIRRO',
    'ENDERECO', 'ORIGEM_CHAMADO', 'TIPO', 'SUBTIPO',
    'SEXO', 'IDADE', 'MOTIVO_FINALIZACAO', 'MOTIVO_DESFECHO'
]

# 1. Leitura (Mantendo nomes originais Maiúsculos das colunas no Pandas)
# header=None para 2025 (porque a linha 0 é dado)
# header=0 para 23/24 (porque a linha 0 é titulo)
df_2025 = pd.read_csv('../data/samu_2025.csv', header=None, names=colunas_nomes, dtype=str)
df_2024 = pd.read_csv('../data/samu_2024.csv', header=0, names=colunas_nomes, dtype=str)
df_2023 = pd.read_csv('../data/samu_2023.csv', header=0, names=colunas_nomes, dtype=str)

df_staging = pd.concat([df_2025, df_2024, df_2023], ignore_index=True)

# 2. Ajuste Técnico: Passar colunas para minúsculo AGORA.
# Isso evita o erro de "Column not found" no Postgres.
# Fique tranquilo: Na última célula do notebook a gente renomeia para MAIÚSCULO de volta.
df_staging.columns = df_staging.columns.str.lower()

print("Verificando estrutura do Banco de Dados...")

with engine.connect() as conn:
    # A. CRIA O SCHEMA (A PASTA) SE NÃO EXISTIR
    conn.execute(text("CREATE SCHEMA IF NOT EXISTS stage;"))
    
    # B. CRIA A TABELA SE NÃO EXISTIR
    # Criamos tudo como TEXT para o ELT ser robusto (não quebrar na carga)
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS stage.tb_staging_samu (
            id_temp SERIAL,
            id TEXT,
            data TEXT,
            hora_minuto TEXT,
            municipio TEXT,
            bairro TEXT,
            endereco TEXT,
            origem_chamado TEXT,
            tipo TEXT,
            subtipo TEXT,
            sexo TEXT,
            idade TEXT,
            motivo_finalizacao TEXT,
            motivo_desfecho TEXT
        );
    """))
    
    # C. LIMPA A TABELA PARA NÃO DUPLICAR DADOS
    conn.execute(text("TRUNCATE TABLE stage.tb_staging_samu;"))
    conn.commit()

print(f"Iniciando carga de {len(df_staging)} linhas...")

# 3. Carga Efetiva
df_staging.to_sql(
    'tb_staging_samu', 
    engine, 
    schema='stage', 
    if_exists='append', # Append porque acabamos de criar/limpar a tabela acima
    index=False, 
    method='multi', 
    chunksize=2000
)

# Limpeza de memória RAM
del df_staging, df_2025, df_2024, df_2023
print("✅ Carga realizada com sucesso na tabela stage.tb_staging_samu!")

Verificando estrutura do Banco de Dados...
Iniciando carga de 539519 linhas...
✅ Carga realizada com sucesso na tabela stage.tb_staging_samu!

### 3. Criação da Tabela de Trabalho e Conversão de Tipos
Criação da tabela `stage.tb_trabalho` a partir dos dados da staging. Nesta etapa, realizamos a conversão de tipos de dados (casting), transformando strings em datas, horas e números inteiros, além de tratar campos vazios como NULL para facilitar a limpeza subsequente.

In [3]:
# --- CÉLULA 3 (CORRIGIDA) ---
print("Criando tabela de trabalho...")

# Note que usamos nomes minúsculos aqui para o SQL não travar
query_trabalho = """
DROP TABLE IF EXISTS stage.tb_trabalho;

CREATE TABLE stage.tb_trabalho AS
SELECT
    ROW_NUMBER() OVER () - 1 AS id_gerado,
    
    TO_DATE(NULLIF(SUBSTRING(data, 1, 10), ''), 'YYYY-MM-DD') AS data_ocorrencia,
    TO_TIMESTAMP(NULLIF(SUBSTRING(TRIM(hora_minuto), 1, 8), ''), 'HH24:MI:SS')::TIME AS hora_ocorrencia,

    CAST(NULLIF(idade, '') AS INTEGER) AS idade,

    municipio, bairro, endereco, origem_chamado,
    tipo AS tipo_ocorrencia,
    subtipo AS subtipo_ocorrencia,
    sexo, motivo_finalizacao, motivo_desfecho
FROM stage.tb_staging_samu;
"""

exec_sql(query_trabalho)
print("✅ Tabela stage.tb_trabalho criada!")

Criando tabela de trabalho...
✅ Tabela stage.tb_trabalho criada!

### 4. Tratamento de Valores Nulos (Imputação)
Estratégia de limpeza de dados faltantes:
1. Cálculo da **mediana** das idades para preencher registros sem essa informação.
2. Substituição de valores nulos em campos categóricos (como endereço, sexo, motivo) por valores padrão como 'NÃO INFORMADO' ou 'SEM FINALIZAÇÃO'.

In [4]:
# --- CÉLULA 4 (CORRIGIDA) ---
print("4. Tratando valores nulos...")

# 1. Calcula a Mediana (na coluna 'idade' do schema 'stage')
mediana_sql = run_query("""
    SELECT PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY idade)
    FROM stage.tb_trabalho
""").iloc[0,0]

# 2. Converte para Inteiro
mediana_int = int(mediana_sql)
print(f"   -> Mediana calculada: {mediana_int}")

# 3. Aplica o Update (USANDO OS NOMES CORRETOS DA CÉLULA 3)
query_fillna = f"""
UPDATE stage.tb_trabalho
SET
    idade = COALESCE(idade, {mediana_int}),
    motivo_finalizacao = COALESCE(motivo_finalizacao, 'SEM FINALIZAÇÃO'),
    endereco = COALESCE(endereco, 'NÃO INFORMADO'),
    origem_chamado = COALESCE(origem_chamado, 'NÃO INFORMADO'),
    sexo = COALESCE(sexo, 'NÃO INFORMADO'),
    municipio = COALESCE(municipio, 'NÃO INFORMADO'),
    bairro = COALESCE(bairro, 'NÃO INFORMADO'),
    
    -- CORREÇÃO AQUI: Nomes atualizados conforme criamos na Célula 3
    subtipo_ocorrencia = COALESCE(subtipo_ocorrencia, 'NÃO INFORMADO'),
    tipo_ocorrencia = COALESCE(tipo_ocorrencia, 'NÃO INFORMADO');
"""
exec_sql(query_fillna)
print("✅ Nulos tratados com valores inteiros.")

4. Tratando valores nulos...
   -> Mediana calculada: 49
✅ Nulos tratados com valores inteiros.

### 5. Padronização de Texto e Correção de Inconsistências
Aplicação de funções de formatação (UPPER, TRIM) para padronizar todas as colunas de texto. Também é realizada uma limpeza específica na coluna `origem_chamado`, corrigindo erros de digitação e agrupando valores inconsistentes identificados na análise exploratória.

In [5]:
# Padronização (Upper e Trim) - Usando nomes corretos (_ocorrencia)
exec_sql("""
UPDATE stage.tb_trabalho
SET
    municipio = UPPER(TRIM(municipio)),
    bairro = UPPER(TRIM(bairro)),
    endereco = UPPER(TRIM(endereco)),
    origem_chamado = UPPER(TRIM(origem_chamado)),
    sexo = UPPER(TRIM(sexo)),
    motivo_finalizacao = UPPER(TRIM(motivo_finalizacao)),
    motivo_desfecho = UPPER(TRIM(motivo_desfecho)),
    
    -- Nomes corrigidos
    tipo_ocorrencia = UPPER(TRIM(tipo_ocorrencia)),
    subtipo_ocorrencia = UPPER(TRIM(subtipo_ocorrencia));
""")

# Lista de valores ruins
valores_ruins = [
    '93999830', 'ANI/ALI','JOSELENE', 'JUSELITA',
    'MARCILIA', 'R MA','RAYSSA', 'R  CELIA','JAGUARIB'
    'MONICA', 'AV NORTE', '00', 'MONIQUE', 'CARLOS', 'SANDRO',
    'EDVALDO', 'RECIFE', 'EDIMILSO', 'MARIA', 'MANOEL R', 'TEC ENF',
    'ANTONIO'
]
lista_sql = ", ".join([f"'{x}'" for x in valores_ruins])

# Replace condicional
query_replace = f"""
UPDATE stage.tb_trabalho
SET origem_chamado = CASE
    WHEN origem_chamado IN ({lista_sql}) THEN 'NÃO INFORMADO'
    WHEN origem_chamado = 'ESTAB PR' THEN 'ESTABELECIMENTO PRIVADO'
    WHEN origem_chamado = 'ESTAB PU' THEN 'ESTABELECIMENTO PUBLICO'
    ELSE origem_chamado
END;
"""
exec_sql(query_replace)
print("✅ Padronização concluída.")

✅ Padronização concluída.

### 6. Criação da Tabela Tratada, Deduplicação e Enriquecimento
Geração da tabela final de stage (`stage.tb_samu_tratada`). O processo inclui:
1. **Deduplicação:** Uso de `DISTINCT ON` para remover registros duplicados, mantendo a integridade dos dados.
2. **Enriquecimento:** Criação de colunas derivadas como `DIA_SEMANA`, `TURNO` e `ANO_ORIGEM` para facilitar análises futuras.

In [6]:
# 1. Limpa tabela antiga
exec_sql("DROP TABLE IF EXISTS stage.tb_samu_tratada;")

# 2. Cria a estrutura
exec_sql("""
CREATE TABLE stage.tb_samu_tratada (
    "ID" INTEGER PRIMARY KEY,
    "DATA" DATE,
    "HORA_MINUTO" TIME,
    "MUNICIPIO" VARCHAR(100),
    "BAIRRO" VARCHAR(100),
    "ENDERECO" VARCHAR(255),
    "ORIGEM_CHAMADO" VARCHAR(100),
    "TIPO" VARCHAR(100),
    "SUBTIPO" VARCHAR(100),
    "SEXO" VARCHAR(20),
    "IDADE" INTEGER,
    "MOTIVO_FINALIZACAO" VARCHAR(255),
    "MOTIVO_DESFECHO" VARCHAR(255),
    "DIA_SEMANA" VARCHAR(20),
    "TURNO" VARCHAR(20),
    "ANO_ORIGEM" INTEGER
);
""")

query_final = """
INSERT INTO stage.tb_samu_tratada (
    "ID", "DATA", "HORA_MINUTO",
    "MUNICIPIO", "BAIRRO", "ENDERECO", "ORIGEM_CHAMADO",
    "TIPO", "SUBTIPO", "SEXO", "IDADE",
    "MOTIVO_FINALIZACAO", "MOTIVO_DESFECHO",
    "DIA_SEMANA", "TURNO", "ANO_ORIGEM"
)
SELECT * FROM (
    -- SUBQUERY: Faz a deduplicação seguindo a regra do Postgres
    SELECT DISTINCT ON (
        data_ocorrencia, hora_ocorrencia, municipio, bairro,
        endereco, origem_chamado, tipo_ocorrencia, subtipo_ocorrencia,
        sexo, idade, motivo_finalizacao, motivo_desfecho
    )
        id_gerado,
        
        data_ocorrencia,
        hora_ocorrencia,
        municipio, bairro, endereco, origem_chamado,
        tipo_ocorrencia, subtipo_ocorrencia, sexo, idade,
        motivo_finalizacao, motivo_desfecho,
        
        CASE EXTRACT(DOW FROM data_ocorrencia)
            WHEN 0 THEN 'DOMINGO' WHEN 1 THEN 'SEGUNDA-FEIRA'
            WHEN 2 THEN 'TERCA-FEIRA' WHEN 3 THEN 'QUARTA-FEIRA'
            WHEN 4 THEN 'QUINTA-FEIRA' WHEN 5 THEN 'SEXTA-FEIRA'
            WHEN 6 THEN 'SABADO'
        END,
        
        CASE
            WHEN EXTRACT(HOUR FROM hora_ocorrencia) >= 6 AND EXTRACT(HOUR FROM hora_ocorrencia) < 12 THEN 'MANHA'
            WHEN EXTRACT(HOUR FROM hora_ocorrencia) >= 12 AND EXTRACT(HOUR FROM hora_ocorrencia) < 18 THEN 'TARDE'
            WHEN EXTRACT(HOUR FROM hora_ocorrencia) >= 18 AND EXTRACT(HOUR FROM hora_ocorrencia) <= 23 THEN 'NOITE'
            ELSE 'MADRUGADA'
        END,

        EXTRACT(YEAR FROM data_ocorrencia)::INTEGER

    FROM stage.tb_trabalho
    
    ORDER BY
        data_ocorrencia, hora_ocorrencia, municipio, bairro,
        endereco, origem_chamado, tipo_ocorrencia, subtipo_ocorrencia,
        sexo, idade, motivo_finalizacao, motivo_desfecho,
        id_gerado ASC -- Desempate: Mantém o primeiro ID (keep='first')
) AS subquery

ORDER BY id_gerado ASC;
"""

exec_sql(query_final)
print("ELT CONCLUÍDO! Tabela final salva na ordem correta.")

ELT CONCLUÍDO! Tabela final salva na ordem correta.

### 7. Validação Visual dos Dados Tratados
Consulta de verificação para exibir uma amostra (20 primeiras linhas) da tabela tratada e contagem total de registros, garantindo que o processo de transformação ocorreu conforme o esperado.

In [7]:
df_visualizacao = pd.read_sql_query(
    'SELECT * FROM stage.tb_samu_tratada ORDER BY "ID" ASC LIMIT 20;', 
    engine, 
    index_col="ID" 
)

from IPython.display import display
display(df_visualizacao)

total = run_query("SELECT COUNT(*) FROM stage.tb_samu_tratada").iloc[0,0]
print(f"\nTotal de linhas na tabela final: {total}")

,DATA,HORA_MINUTO,MUNICIPIO,BAIRRO,ENDERECO,ORIGEM_CHAMADO,TIPO,SUBTIPO,SEXO,IDADE,MOTIVO_FINALIZACAO,MOTIVO_DESFECHO,DIA_SEMANA,TURNO,ANO_ORIGEM
ID,,,,,,,,,,,,,,,
0,2025-01-01,00:00:45,RECIFE,BOA VISTA,AV DA BOA VISTA,RESIDENCIAL,DROGAS,ALCOOLISMO,MASCULINO,25,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
1,2025-01-01,00:08:03,POMBOS,ALTO DO FRADE,R SARDINHA,VIA PÚBLICA,CAUSAS EXTERNAS,ACIDENTE DE TRANSITO ENVOLVENDO MOTO,MASCULINO,22,SEM FINALIZAÇÃO,1. OCORRÊNCIA CONCLUÍDA COM ÊXITO,QUARTA-FEIRA,MADRUGADA,2025
2,2025-01-01,00:08:35,PAULISTA,NOSSA SENHORA DO O,AV CLAUDIO JOSE GUEIROS LEIT NOSSA.SENHORA.DO.O,RESIDENCIAL,CAUSAS EXTERNAS,QUEDA DA PROPRIA ALTURA,FEMININO,45,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
3,2025-01-01,00:17:44,JABOATAO DOS GUARARAPES,MARCOS FREIRE,RUA DOMINGO FERNANDES N,RESIDENCIAL,DROGAS,INTOXICACAO EXOGENA,FEMININO,46,REMOVIDO ANTES DO ATENDIMENTO POR PARTICULARES,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
4,2025-01-01,00:19:24,IGARASSU,CRUZ DE REBOUCAS,R JOCA RODRIGUES,VIA PÚBLICA,GASTROINTESTINAL,DOR ABDOMINAL,MASCULINO,65,REMOVIDO ANTES DO ATENDIMENTO POR PARTICULARES,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
5,2025-01-01,00:20:55,ESCADA,ESCADA CENTRO,BR,VIA PÚBLICA,CAUSAS EXTERNAS,ACIDENTE DE TRANSITO COM CARROS,MASCULINO,57,REMOVIDO ANTES DO ATENDIMENTO POR PARTICULARES,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
6,2025-01-01,00:21:11,JABOATAO DOS GUARARAPES,PIEDADE,TRAV TERCEIRA DA RUA SUCUPIRA DO NORTE,VIA PÚBLICA,NEUROLOGICA,CONFUSAO MENTAL,MASCULINO,56,SEM FINALIZAÇÃO,1. OCORRÊNCIA CONCLUÍDA COM ÊXITO,QUARTA-FEIRA,MADRUGADA,2025
7,2025-01-01,00:22:49,SIRINHAEM,BARRA DE SIRINHAEM (DISTRITO),COND TOQUINHO,VIA PÚBLICA,GERAIS/OUTROS,OUTROS,MASCULINO,49,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
9,2025-01-01,00:26:51,RECIFE,CORDEIRO,ESTRADA FORTE DO ARRAIAL BOM JESUS,VIA PÚBLICA,CAUSAS EXTERNAS,ACIDENTE DE TRANSITO ENVOLVENDO MOTO,NÃO INFORMADO,49,SEM FINALIZAÇÃO,3. SOLICITAÇÃO DUPLICADA,QUARTA-FEIRA,MADRUGADA,2025
10,2025-01-01,00:26:55,RECIFE,TORROES,AVENIDA ARRAIAL DO BOM JESUS,VIA PÚBLICA,CAUSAS EXTERNAS,OUTROS,MASCULINO,49,SOLICITAÇÃO DUPLICADA,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
11,2025-01-01,00:26:59,SIRINHAEM,VILA ESPERANCA,R VILA NOVA ESPERANCA,RESIDENCIAL,GERAIS/OUTROS,OUTROS,FEMININO,75,SEM FINALIZAÇÃO,5. REMOVIDO ANTES DO ATENDIMENTO POR PARTICULARES,QUARTA-FEIRA,MADRUGADA,2025
12,2025-01-01,00:28:03,RECIFE,CORDEIRO,AV DO FORTE PRAÇA DO QUINZE SN,VIA PÚBLICA,CAUSAS EXTERNAS,ACIDENTE DE TRANSITO ENVOLVENDO MOTO,MASCULINO,42,SEM FINALIZAÇÃO,1. OCORRÊNCIA CONCLUÍDA COM ÊXITO,QUARTA-FEIRA,MADRUGADA,2025
13,2025-01-01,00:36:02,CABO DE SANTO AGOSTINHO,CENTRO,R MANOEL QUEIROZ DA SILVA,ESTABELECIMENTO PRIVADO,CAUSAS EXTERNAS,QUEDA DA PROPRIA ALTURA,FEMININO,40,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
14,2025-01-01,00:40:48,RECIFE,AREIAS,R CAMBUCA,RESIDENCIAL,GERAIS/OUTROS,OUTROS,MASCULINO,87,SEM FINALIZAÇÃO,13. ÓBITO ANTES DO ATENDIMENTO,QUARTA-FEIRA,MADRUGADA,2025
15,2025-01-01,00:44:10,RECIFE,VARZEA,R BERNARDO SAYAO,VIA PÚBLICA,CAUSAS EXTERNAS,ACIDENTE DE TRANSITO ENVOLVENDO MOTO,MASCULINO,49,SEM FINALIZAÇÃO,5. REMOVIDO ANTES DO ATENDIMENTO POR PARTICULARES,QUARTA-FEIRA,MADRUGADA,2025
16,2025-01-01,00:45:50,VITORIA DE SANTO ANTAO,CENTRO,NÃO INFORMADO,VIA PÚBLICA,CAUSAS EXTERNAS,OUTROS,MASCULINO,49,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
17,2025-01-01,00:47:22,JABOATAO DOS GUARARAPES,BARRA DE JANGADA,R UNIAO,ESTABELECIMENTO PRIVADO,GERAIS/OUTROS,OUTROS,MASCULINO,50,REGULAÇÃO POR TELEFONE,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
18,2025-01-01,00:50:40,JABOATAO DOS GUARARAPES,BARRA DE JANGADA,NÃO INFORMADO,UNIDADE DE SAÚDE,GASTROINTESTINAL,DOR ABDOMINAL,MASCULINO,79,SEM FINALIZAÇÃO,4. DESISTÊNCIA DA SOLICITAÇÃO/ SEM CONTATO COM...,QUARTA-FEIRA,MADRUGADA,2025
19,2025-01-01,00:51:00,IGARASSU,BELA VISTA,R MARROCOS N157,RESIDENCIAL,NEUROLOGICA,CONVULSAO,MASCULINO,50,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025
20,2025-01-01,00:55:09,POMBOS,CENTRO,RUA PAULO BEZERRA,VIA PÚBLICA,GERAIS/OUTROS,OUTROS,MASCULINO,49,DESISTÊNCIA DA SOLICITAÇÃO,SEM DESFECHO,QUARTA-FEIRA,MADRUGADA,2025

Total de linhas na tabela final: 507376

### 8. Carga das Dimensões do Data Warehouse
Povoamento das tabelas de dimensão do modelo Star Schema:
* **Localidade:** Municípios e Bairros únicos.
* **Ocorrência:** Tipos, subtipos e origens de chamado.
* **Situação:** Motivos de finalização e desfechos.
* **Paciente:** Sexo e cálculo da **Faixa Etária** (Criança, Adolescente, Adulto, Idoso).
* **Tempo:** Calendário com dias, meses, trimestres e semestres baseados nas datas dos atendimentos.

In [8]:
# Carga das dimensoes do data warehouse
print("Iniciando carga das Dimensões...")

# Dimensao localidade
print("Carregando Localidade...")
exec_sql("""
INSERT INTO dw.dim_localidade (municipio, bairro)
SELECT DISTINCT "MUNICIPIO", "BAIRRO"
FROM stage.tb_samu_tratada
ORDER BY "MUNICIPIO", "BAIRRO";
""")

# Dimensao ocorrencia
print("Carregando Ocorrência...")
exec_sql("""
INSERT INTO dw.dim_ocorrencia (origem_chamado, tipo, subtipo)
SELECT DISTINCT "ORIGEM_CHAMADO", "TIPO", "SUBTIPO"
FROM stage.tb_samu_tratada
ORDER BY "TIPO", "SUBTIPO";
""")

# Dimensao situacao
print("Carregando Situação...")
exec_sql("""
INSERT INTO dw.dim_situacao (motivo_finalizacao, motivo_desfecho)
SELECT DISTINCT "MOTIVO_FINALIZACAO", "MOTIVO_DESFECHO"
FROM stage.tb_samu_tratada;
""")

# Dimensao paciente
# Calculo de faixa etaria via sql
print("Carregando Paciente...")
exec_sql("""
INSERT INTO dw.dim_paciente (sexo, faixa_etaria)
SELECT DISTINCT 
    "SEXO",
    CASE 
        WHEN "IDADE" <= 12 THEN 'CRIANCA'
        WHEN "IDADE" BETWEEN 13 AND 18 THEN 'ADOLESCENTE'
        WHEN "IDADE" BETWEEN 19 AND 59 THEN 'ADULTO'
        WHEN "IDADE" >= 60 THEN 'IDOSO'
        ELSE 'NAO INFORMADO'
    END
FROM stage.tb_samu_tratada;
""")

# Dimensao tempo
# Extracao de partes da data
print("Carregando Tempo...")
exec_sql("""
INSERT INTO dw.dim_tempo (data_completa, ano, mes, dia, dia_semana, trimestre, semestre)
SELECT DISTINCT 
    "DATA",
    EXTRACT(YEAR FROM "DATA"),
    EXTRACT(MONTH FROM "DATA"),
    EXTRACT(DAY FROM "DATA"),
    "DIA_SEMANA",
    EXTRACT(QUARTER FROM "DATA"),
    CASE WHEN EXTRACT(MONTH FROM "DATA") <= 6 THEN 1 ELSE 2 END
FROM stage.tb_samu_tratada
ORDER BY "DATA";
""")

print("Todas as dimensões foram carregadas com sucesso!")

Iniciando carga das Dimensões...
Carregando Localidade...
Carregando Ocorrência...
Carregando Situação...
Carregando Paciente...
Carregando Tempo...
Todas as dimensões foram carregadas com sucesso!

### 9. Carga da Tabela Fato (Fato Atendimentos)
Processo final do ELT: Carga da tabela `dw.fato_atendimentos`. Os dados tratados são cruzados (JOIN) com as dimensões carregadas anteriormente para recuperar as chaves estrangeiras (IDs) e consolidar o histórico de atendimentos no Data Warehouse.

In [9]:
# Carga da tabela fato
print("Carregando a Tabela Fato...")

# Limpeza da tabela fato para evitar duplicidade
exec_sql("TRUNCATE TABLE dw.fato_atendimentos;")

# Insercao de dados conectando ids das dimensoes
exec_sql("""
INSERT INTO dw.fato_atendimentos (
    fk_tempo, fk_local, fk_ocorrencia, fk_situacao, fk_paciente,
    hora_exata, idade_paciente, qtd_atendimentos
)
SELECT 
    T.id_tempo,
    L.id_local,
    O.id_ocorrencia,
    S.id_situacao,
    P.id_paciente,
    ST."HORA_MINUTO",
    ST."IDADE",
    1
    
FROM stage.tb_samu_tratada ST

JOIN dw.dim_tempo T ON T.data_completa = ST."DATA"
JOIN dw.dim_localidade L ON L.municipio = ST."MUNICIPIO" AND L.bairro = ST."BAIRRO"
JOIN dw.dim_ocorrencia O ON O.tipo = ST."TIPO" AND O.subtipo = ST."SUBTIPO" AND O.origem_chamado = ST."ORIGEM_CHAMADO"
JOIN dw.dim_situacao S ON S.motivo_finalizacao = ST."MOTIVO_FINALIZACAO" AND S.motivo_desfecho = ST."MOTIVO_DESFECHO"
JOIN dw.dim_paciente P ON P.sexo = ST."SEXO" AND P.faixa_etaria = (
    CASE 
        WHEN ST."IDADE" <= 12 THEN 'CRIANCA'
        WHEN ST."IDADE" BETWEEN 13 AND 18 THEN 'ADOLESCENTE'
        WHEN ST."IDADE" BETWEEN 19 AND 59 THEN 'ADULTO'
        WHEN ST."IDADE" >= 60 THEN 'IDOSO'
        ELSE 'NAO INFORMADO'
    END
);
""")

print("Data Warehouse Concluído!")

# Verificacao de total de registros carregados
total_fato = run_query("SELECT count(*) FROM dw.fato_atendimentos").iloc[0,0]
print(f"Total de registros na Fato: {total_fato}")

Carregando a Tabela Fato...
Data Warehouse Concluído!
Total de registros na Fato: 507376